.skeleton {
  background: #f0f0f0;
  height: 96px;
  border-radius: 8px;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-detail {
  background: #f0f0f0;
  height: 250px;
  border-radius: 8px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
